Student_performance

In [1]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score,accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.read_csv('Data/StudentPerformanceFactors.csv')

In [3]:
data

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [4]:
data.shape

(6607, 20)

In [5]:
data.drop(['Parental_Involvement','Access_to_Resources','Internet_Access','Family_Income',
          'Teacher_Quality','School_Type','Peer_Influence','Learning_Disabilities'],axis=1,inplace=True)

In [6]:
data.head()

,Hours_Studied,Attendance,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Tutoring_Sessions,Physical_Activity,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,No,7,73,Low,0,3,High School,Near,Male,67
1,19,64,No,8,59,Low,2,4,College,Moderate,Female,61
2,24,98,Yes,7,91,Medium,2,4,Postgraduate,Near,Male,74
3,29,89,Yes,8,98,Medium,1,4,High School,Moderate,Male,71
4,19,92,Yes,6,65,Medium,3,4,College,Near,Female,70

In [7]:
data['Extracurricular_Activities']=data['Extracurricular_Activities'].map({'Yes':1,'No':0})
data['Motivation_Level']=data['Motivation_Level'].map({'Low':0,'Medium':1,'High':2})
data['Gender']=data['Gender'].map({'Male':1,'Female':0})

In [8]:
data.drop(['Parental_Education_Level','Distance_from_Home'],axis=1,inplace=True)

In [9]:
data.head()

,Hours_Studied,Attendance,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Tutoring_Sessions,Physical_Activity,Gender,Exam_Score
0,23,84,0,7,73,0,0,3,1,67
1,19,64,0,8,59,0,2,4,0,61
2,24,98,1,7,91,1,2,4,1,74
3,29,89,1,8,98,1,1,4,1,71
4,19,92,1,6,65,1,3,4,0,70

In [10]:
data.shape

(6607, 10)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Extracurricular_Activities  6607 non-null   int64
 3   Sleep_Hours                 6607 non-null   int64
 4   Previous_Scores             6607 non-null   int64
 5   Motivation_Level            6607 non-null   int64
 6   Tutoring_Sessions           6607 non-null   int64
 7   Physical_Activity           6607 non-null   int64
 8   Gender                      6607 non-null   int64
 9   Exam_Score                  6607 non-null   int64
dtypes: int64(10)
memory usage: 516.3 KB

In [12]:
data.dtypes

Hours_Studied                 int64
Attendance                    int64
Extracurricular_Activities    int64
Sleep_Hours                   int64
Previous_Scores               int64
Motivation_Level              int64
Tutoring_Sessions             int64
Physical_Activity             int64
Gender                        int64
Exam_Score                    int64
dtype: object

In [13]:
X = data[['Hours_Studied','Attendance','Extracurricular_Activities','Sleep_Hours','Motivation_Level',
         'Tutoring_Sessions','Physical_Activity','Previous_Scores','Gender',]]
y = data[['Exam_Score']]

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [15]:
X

,Hours_Studied,Attendance,Extracurricular_Activities,Sleep_Hours,Motivation_Level,Tutoring_Sessions,Physical_Activity,Previous_Scores,Gender
0,23,84,0,7,0,0,3,73,1
1,19,64,0,8,0,2,4,59,0
2,24,98,1,7,1,2,4,91,1
3,29,89,1,8,1,1,4,98,1
4,19,92,1,6,1,3,4,65,0
...,...,...,...,...,...,...,...,...,...
6602,25,69,0,7,1,1,2,76,0
6603,23,76,0,8,1,3,2,81,0
6604,20,90,1,6,0,3,2,65,0
6605,10,86,1,6,2,2,3,91,0
6606,15,67,1,9,1,0,4,94,1

In [16]:
y

      Exam_Score
0             67
1             61
2             74
3             71
4             70
...          ...
6602          68
6603          69
6604          68
6605          68
6606          64

[6607 rows x 1 columns]

In [17]:
model = RandomForestRegressor()
model.fit(X_train,y_train)

C:\Users\ammud\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [18]:
y_pred = model.predict(X_test)

In [19]:
y_test

      Exam_Score
2045          66
3281          66
3347          72
85            69
6596          66
...          ...
786           67
1947          65
2087          63
6577          64
1752          68

[1322 rows x 1 columns]

In [20]:
y_pred

array([68.37, 64.32, 72.8 , ..., 63.29, 64.63, 67.95])

In [21]:
clf=RandomForestRegressor()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

C:\Users\ammud\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [22]:
X_train

,Hours_Studied,Attendance,Extracurricular_Activities,Sleep_Hours,Motivation_Level,Tutoring_Sessions,Physical_Activity,Previous_Scores,Gender
4964,16,61,1,4,0,1,3,51,1
459,13,62,0,7,1,4,1,99,0
3449,18,67,1,7,1,5,2,87,1
3858,16,68,0,7,2,2,2,83,0
1580,21,63,0,10,0,1,2,70,0
...,...,...,...,...,...,...,...,...,...
6190,26,79,1,6,0,0,2,90,1
6578,22,76,0,5,0,0,3,65,0
2427,20,88,1,5,1,2,3,85,1
1145,20,78,0,5,0,1,3,73,0
6194,4,91,0,4,0,3,4,86,1

In [23]:
y_train

      Exam_Score
4964          59
459           63
3449          66
3858          65
1580          64
...          ...
6190          66
6578          64
2427          68
1145          65
6194          64

[5285 rows x 1 columns]

In [24]:
y_test

      Exam_Score
2045          66
3281          66
3347          72
85            69
6596          66
...          ...
786           67
1947          65
2087          63
6577          64
1752          68

[1322 rows x 1 columns]

In [25]:
from sklearn.metrics import r2_score

r2_score(y_test,y_pred)

0.5738645299122861