Employee

In [1]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
import joblib

In [3]:
data = pd.read_csv('Data/employee_promotion.csv')

In [4]:
data

,employee_id,department,performance_score,years_experience,trainings_completed,previous_promotions,attendance_rate,promoted
0,1000,Sales,68,7,10,3,0.97,0
1,1001,Operations,58,8,7,1,0.81,1
2,1002,Operations,80,10,2,0,0.79,1
3,1003,HR,76,15,7,1,0.94,1
4,1004,HR,50,1,8,0,0.85,1
...,...,...,...,...,...,...,...,...
195,1195,IT,62,14,7,2,0.74,1
196,1196,Marketing,83,10,9,2,0.78,1
197,1197,Sales,65,9,10,0,0.94,0
198,1198,IT,70,4,3,0,0.85,0
199,1199,IT,84,3,5,1,0.66,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   employee_id          200 non-null    int64
 1   department           200 non-null    object
 2   performance_score    200 non-null    int64
 3   years_experience     200 non-null    int64
 4   trainings_completed  200 non-null    int64
 5   previous_promotions  200 non-null    int64
 6   attendance_rate      200 non-null    float64
 7   promoted             200 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 12.6+ KB

In [6]:
data.shape

(200, 8)

In [7]:
data.columns

Index(['employee_id', 'department', 'performance_score', 'years_experience',
       'trainings_completed', 'previous_promotions', 'attendance_rate',
       'promoted'],
      dtype='object')

In [8]:
data.describe()

,employee_id,performance_score,years_experience,trainings_completed,previous_promotions,attendance_rate,promoted
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,1099.500000,75.30500,7.870000,5.190000,1.425000,0.799650,0.525000
std,57.879185,14.67408,4.294802,3.173999,1.131715,0.117505,0.500628
min,1000.000000,50.00000,1.000000,0.000000,0.000000,0.600000,0.000000
25%,1049.750000,63.00000,4.000000,3.000000,0.000000,0.700000,0.000000
50%,1099.500000,76.00000,8.000000,5.000000,1.000000,0.780000,1.000000
75%,1149.250000,88.00000,11.000000,8.000000,2.000000,0.900000,1.000000
max,1199.000000,100.00000,15.000000,10.000000,3.000000,1.000000,1.000000

In [9]:
data.describe(include='O').T

           count unique    top freq
department   200      6  Sales   40

In [10]:
data.head(10)

,employee_id,department,performance_score,years_experience,trainings_completed,previous_promotions,attendance_rate,promoted
0,1000,Sales,68,7,10,3,0.97,0
1,1001,Operations,58,8,7,1,0.81,1
2,1002,Operations,80,10,2,0,0.79,1
3,1003,HR,76,15,7,1,0.94,1
4,1004,HR,50,1,8,0,0.85,1
5,1005,Sales,70,5,5,2,0.67,0
6,1006,Operations,58,2,7,0,1.00,0
7,1007,IT,89,2,7,0,0.76,0
8,1008,Sales,55,12,6,3,0.93,0
9,1009,Marketing,88,5,9,2,0.84,1

In [11]:
data['employee_id']=range(1,len(data)+1)

In [12]:
data.head()

,employee_id,department,performance_score,years_experience,trainings_completed,previous_promotions,attendance_rate,promoted
0,1,Sales,68,7,10,3,0.97,0
1,2,Operations,58,8,7,1,0.81,1
2,3,Operations,80,10,2,0,0.79,1
3,4,HR,76,15,7,1,0.94,1
4,5,HR,50,1,8,0,0.85,1

In [13]:
X=data.drop(['employee_id','promoted'],axis=1)
y=data['promoted']

In [14]:
categorical=['department']
numeric=['performance_score','years_experience','trainings_completed','previous_promotions','attendance_rate']

In [15]:
preprocessor = ColumnTransformer(transformers=[
    ('cat',OneHotEncoder(drop='first'),categorical),
('num',StandardScaler(),numeric)
])

In [16]:
model=Pipeline(steps=[
    ('preprocessor',preprocessor),
    ('classifier',
    RandomForestClassifier(n_estimators=100,random_state=42))
])

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
model.fit(X_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(drop='first'),
                                                  ['department']),
                                                 ('num', StandardScaler(),
                                                  ['performance_score',
                                                   'years_experience',
                                                   'trainings_completed',
                                                   'previous_promotions',
                                                   'attendance_rate'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [19]:
y_pred=model.predict(X_test)

In [20]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.40      0.42      0.41        19
           1       0.45      0.43      0.44        21

    accuracy                           0.42        40
   macro avg       0.43      0.42      0.42        40
weighted avg       0.43      0.42      0.43        40

In [21]:
data['promotion_probability']=model.predict_proba(X)[:,1]

In [22]:
print(data[['employee_id','promotion_probability','promoted']])

     employee_id  promotion_probability  promoted
0              1                   0.12         0
1              2                   0.71         1
2              3                   0.76         1
3              4                   0.88         1
4              5                   0.79         1
..           ...                    ...       ...
195          196                   0.79         1
196          197                   0.73         1
197          198                   0.27         0
198          199                   0.25         0
199          200                   0.64         1

[200 rows x 3 columns]

In [23]:
promotable=data[data['promotion_probability']>=0.5]

In [24]:
data.head()

,employee_id,department,performance_score,years_experience,trainings_completed,previous_promotions,attendance_rate,promoted,promotion_probability
0,1,Sales,68,7,10,3,0.97,0,0.12
1,2,Operations,58,8,7,1,0.81,1,0.71
2,3,Operations,80,10,2,0,0.79,1,0.76
3,4,HR,76,15,7,1,0.94,1,0.88
4,5,HR,50,1,8,0,0.85,1,0.79

In [25]:
print(promotable[['employee_id','department','performance_score','years_experience','trainings_completed',
                 'previous_promotions','attendance_rate','promotion_probability']])

     employee_id  department  performance_score  years_experience  \
1              2  Operations                 58                 8
2              3  Operations                 80                10
3              4          HR                 76                15
4              5          HR                 50                 1
11            12     Finance                 52                 3
..           ...         ...                ...               ...
193          194          IT                 94                 9
194          195          HR                 84                 3
195          196          IT                 62                14
196          197   Marketing                 83                10
199          200          IT                 84                 3

     trainings_completed  previous_promotions  attendance_rate  \
1                      7                    1             0.81
2                      2                    0             0.79
3                      7                    1             0.94
4                      8                    0             0.85
11                     6                    3             0.78
..                   ...                  ...              ...
193                    4                    0             0.97
194                    3                    1             0.89
195                    7                    2             0.74
196                    9                    2             0.78
199                    5                    1             0.66

     promotion_probability
1                     0.71
2                     0.76
3                     0.88
4                     0.79
11                    0.76
..                     ...
193                   0.78
194                   0.82
195                   0.79
196                   0.73
199                   0.64

[104 rows x 8 columns]

In [26]:
data.columns

Index(['employee_id', 'department', 'performance_score', 'years_experience',
       'trainings_completed', 'previous_promotions', 'attendance_rate',
       'promoted', 'promotion_probability'],
      dtype='object')

In [27]:
print(promotable.head())

    employee_id  department  performance_score  years_experience  \
1             2  Operations                 58                 8
2             3  Operations                 80                10
3             4          HR                 76                15
4             5          HR                 50                 1
11           12     Finance                 52                 3

    trainings_completed  previous_promotions  attendance_rate  promoted  \
1                     7                    1             0.81         1
2                     2                    0             0.79         1
3                     7                    1             0.94         1
4                     8                    0             0.85         1
11                    6                    3             0.78         1

    promotion_probability
1                    0.71
2                    0.76
3                    0.88
4                    0.79
11                   0.76

In [28]:
promotable.reset_index(inplace=True)
print(promotable[['employee_id','department','promotion_probability']])

     employee_id  department  promotion_probability
0              2  Operations                   0.71
1              3  Operations                   0.76
2              4          HR                   0.88
3              5          HR                   0.79
4             12     Finance                   0.76
..           ...         ...                    ...
99           194          IT                   0.78
100          195          HR                   0.82
101          196          IT                   0.79
102          197   Marketing                   0.73
103          200          IT                   0.64

[104 rows x 3 columns]

In [29]:
data.columns.tolist()

['employee_id',
 'department',
 'performance_score',
 'years_experience',
 'trainings_completed',
 'previous_promotions',
 'attendance_rate',
 'promoted',
 'promotion_probability']

In [30]:
final_promotion = promotable[promotable['promotion_probability']<=0.75]

In [31]:
final_promotion =final_promotion.sort_values(by='promotion_probability',ascending=False)

In [32]:
final_promotion.reset_index(drop=True,inplace=True)

In [33]:
print('Final Promotion Eligible Employees')
print(final_promotion)

Final Promotion Eligible Employees
    index  employee_id  department  performance_score  years_experience  \
0      92           93   Marketing                 57                 2
1     153          154   Marketing                 82                 8
2     127          128     Finance                 93                 2
3     182          183          HR                 84                 8
4     173          174       Sales                 94                 1
5     196          197   Marketing                 83                10
6     169          170  Operations                 51                14
7     116          117       Sales                 81                 9
8     189          190   Marketing                 76                 7
9       1            2  Operations                 58                 8
10    122          123     Finance                 73                 5
11     65           66       Sales                 66                15
12    187          188          IT                 56                 2
13    124          125          IT                 80                15
14    104          105     Finance                 57                 9
15     16           17       Sales                100                 8
16    135          136       Sales                 95                13
17    199          200          IT                 84                 3
18     93           94  Operations                 77                 3
19     55           56  Operations                 57                 9
20     95           96  Operations                 63                 3
21     30           31     Finance                 73                 6
22    137          138          IT                 77                 3
23     78           79       Sales                 70                14
24     84           85          HR                 95                 5
25    128          129     Finance                 78                 8
26    132          133          IT                 72                 7
27     75           76       Sales                 50                 7
28    158          159          HR                 75                 2
29     68           69       Sales                 94                 9

    trainings_completed  previous_promotions  attendance_rate  promoted  \
0                     3                    3             0.95         1
1                     5                    0             0.71         1
2                     1                    2             0.62         1
3                     1                    3             0.92         0
4                     0                    0             0.67         1
5                     9                    2             0.78         1
6                     3                    0             0.73         1
7                    10                    0             0.90         1
8                     5                    2             0.70         1
9                     7                    1             0.81         1
10                    2                    0             0.78         1
11                    8                    0             0.76         1
12                    6                    1             0.67         1
13                    6                    1             0.83         1
14                    1                    2             1.00         0
15                    0                    0             0.93         0
16                    0                    0             0.97         0
17                    5                    1             0.66         1
18                    9                    3             0.67         0
19                    1                    2             0.65         1
20                    9                    3             0.89         1
21                    9                    2             0.78         1
22                    6                    2             0.60         1
23                   10                    3             0.96         0
24                    7                    3             0.88         0
25                    0                    3             0.65         0
26                    0                    0             0.88         1
27                    8                    3             0.65         0
28                    6                    0             0.99         1
29                    9                    2             0.75         1

    promotion_probability
0                    0.75
1                    0.75
2                    0.75
3                    0.74
4                    0.74
5                    0.73
6                    0.73
7                    0.72
8                    0.72
9                    0.71
10                   0.70
11                   0.69
12                   0.69
13                   0.68
14                   0.65
15                   0.65
16                   0.64
17                   0.64
18                   0.62
19                   0.61
20                   0.60
21                   0.60
22                   0.59
23                   0.59
24                   0.57
25                   0.53
26                   0.53
27                   0.53
28                   0.52
29                   0.51

In [34]:
final_promotion.to_csv("final_promotions.csv",index=False)

In [35]:
promotable.reset_index(inplace=True)
print(promotable[['employee_id','department','promotion_probability']])

     employee_id  department  promotion_probability
0              2  Operations                   0.71
1              3  Operations                   0.76
2              4          HR                   0.88
3              5          HR                   0.79
4             12     Finance                   0.76
..           ...         ...                    ...
99           194          IT                   0.78
100          195          HR                   0.82
101          196          IT                   0.79
102          197   Marketing                   0.73
103          200          IT                   0.64

[104 rows x 3 columns]